@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  colors {
    primary: {
      soft: #F3F4FF;
      medium: #6366F1;
      hard: #4F46E5;
    }
    heading: #111827;
    body: #6B7280;
  }
  borderRadius {
    base: 12px;
  }
}

main {
  @apply font-mono
}